@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;500;600;700&display=swap');
@import url("reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.form-item {
		@apply p-2 rounded-sm transition-all border-l-8 border-red border-solid border border-opacity-0 bg-black dark:bg-gray-dark text-white placeholder:text-gray-normal focus:!bg-opacity-0 focus:text-black focus:dark:text-white focus:placeholder:text-gray-dark focus:scale-[1.02];
	}
	.text-clip {
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
	}
	.required {
		@apply relative after:absolute after:top-0 after:right-1 after:content-["*"] after:text-red after:text-lg;
	}
	.hexagon {
		-webkit-clip-path: inset(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  	clip-path: inset(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);

	}
}