@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-inter;
	}
	body {
		@apply dark:text-white text-black text-base dark:bg-black bg-white;
	}
}

@layer components {
	.form-item {
		@apply p-2 rounded-sm transition-all border-l-8 border-red border-solid border border-opacity-0 bg-black dark:bg-gray-dark text-white placeholder:text-gray-normal focus:!bg-opacity-0 focus:text-black focus:dark:text-white focus:placeholder:text-gray-dark focus:scale-[1.02];
	}
	.text-clip {
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
	}
}